<div class ="container-fluid center">
  <h2> Loan application</h2>
  <form [formGroup] = "loanForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label> Mortgage </label>
        <input formControlName="mortgage" type = "number" class="form-control" >
    </div>
    <div class="form-group">
      <label> Maximum Monthly Pay </label>
      <input [class.is-invalid]="loanForm.get('maxMonthlyPay')?.invalid && loanForm.get('maxMonthlyPay')?.touched"
        formControlName="maxMonthlyPay" type="number" class="form-control">
    </div>
    <label *ngIf="loanForm.get('maxMonthlyPay')?.invalid" [ngClass] = "'error'"> Max monthly pay required </label>
    <div class="form-group">
      <label> Terms </label>
      <input formControlName="terms" type = "number" class="form-control">
    </div>
    <div class="form-group">
      <label> Loan Type </label>
      <select 
          name="loanType" class="form-control">
        <option *ngFor="let l of loans"> {{l}} </option>
      </select> 
   </div>

    <button class = "btn btn-primary" type= "submit"> Submit </button>

  </form>
</div>

<div class="alert alert-danger" *ngIf="errorMsg"> 
  {{errorMsg}}
</div>

<div *ngIf="success">
  <table id="loan" class="center">
    <tr>
        <th>Interest</th>
        <th>Capital</th>
        <th>Capital Left</th>
        <th>Month</th>
    </tr>
    <tr *ngFor="let value of values">
        <td>{{value.interest}}</td>
        <td>{{value.capital}}</td>
        <td>{{value.capitalLeft}}</td>
        <td>{{value.term}}</td>
    </tr>
  </table>
</div>




